<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/css/site.css" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/lib/overlayscrollbars/styles/overlayscrollbars.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/lib/admin-lte/css/adminlte.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/datatables.net-bs4/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body style="font-weight:700;">
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @{
        string userProfileImage = "";
        string userName = "";
        bool isAuthenticated = false;
        var token = HttpContextAccessor.HttpContext.Request.Cookies["AuthToken"];
        if (!string.IsNullOrEmpty(token))
        {
            var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
            var jwtToken = handler.ReadToken(token) as System.IdentityModel.Tokens.Jwt.JwtSecurityToken;

            if (jwtToken != null)
            {
                isAuthenticated = true;
                var userId = jwtToken.Claims.First(claim => claim.Type == "uid").Value;
                userName = jwtToken.Claims.First(claim => claim.Type == "name").Value;
                userProfileImage = jwtToken.Claims.FirstOrDefault(claim => claim.Type == "profileImage")?.Value;
            }
        }
    }
    <div class="sidebar" style="height: 100%;">
        <div class="logo">
            <img src="~/asset/white.png" alt="Logo" width="150" />
        </div>
        <ul class="menu">
            @if (User.IsInRole("Admin") || User.IsInRole("Lawyer") || User.IsInRole("Support Developer"))
            {
                <li><a style="color: white;" href="@Url.Action("Manage", "Lawyer", new { area = "Lawyer" })"><img src="~/asset/Certificate.svg" style="width:20px; height:20px;margin:5px;" /> الخبرات والمؤهلات </a></li>
                <li><a style="color: white;" href="@Url.Action("BankDetail", "Lawyer", new { area = "Lawyer" })"><img src="~/asset/bank.svg" style="width:20px; height:20px;margin:5px;" />حساب البنكي</a></li>
                <li><a style="color:white;" href="@Url.Action("Index", "RequestConsulting", new { area = "Lawyer" })"><img src="~/asset/oui_app-discover.svg" style="width:20px; height:20px;margin:5px;" />طلبات</a></li>
                <li><a style="color: white;" href="@Url.Action("ConsultingsWithoutLawyer", "Consulting", new { area = "Lawyer" })"><img src="~/asset/iconoir_post-solid.svg" style="width:20px; height:20px;margin:5px;" />خدمات</a></li>
                <li><a style="color: white;" href="@Url.Action("MyConsultings", "Consulting", new { area = "Lawyer" })"><img src="~/asset/bxs_chat.svg" style="width:20px; height:20px;margin:5px;" />استشارات</a></li>
            }

            @if (User.IsInRole("Admin") || User.IsInRole("Support Developer"))
            {
                <li>
                    <a style="color: white;" href="@Url.Action("Register", "Admin", new { area = "Admin" })"> إدارة المستخدمين</a>
                </li>
                <li><a href="@Url.Action("Index", "RequestConsulting", new { area = "Admin" })"> إدارة طلبات الاستشارات</a></li>
                <li><a href="@Url.Action("Index", "MainConsulting", new { area = "Admin" })"> إدارة انواع الاستشارات الرئيسيه</a></li>
                <li><a href="@Url.Action("Index", "SubConsulting", new { area = "Admin" })"> إدارة انواع الاستشارات الفرعيه</a></li>
                <li><a href="@Url.Action("AllConsultings", "Consulting", new { area = "Admin" })"> إدارة الاستشارات </a></li>
            }

            @if (User.IsInRole("Support Developer"))
            {
                <li><a href="@Url.Action("Register", "SupportDeveloper", new { area = "Support" })"> أضافه مطور فني</a></li>
                <li><a href="@Url.Action("Index", "Role", new { area = "Support" })"> إدارة الأدوار</a></li>
                <li><a href="@Url.Action("Index", "RequestResponseViewer", new { area = "Support" })"> عرض طلبات API</a></li>
                <li><a href="@Url.Action("Index", "Path", new { area = "Support" })"> إدارة المسارات</a></li>
            }
            <li>
                <form id="logout-form" asp-action="Logout" asp-controller="Auth" asp-area="" method="post" style="display:none;">
                    @Html.AntiForgeryToken() <!-- Anti-forgery token for security -->
                </form>
                <img src="~/asset/Vector.svg" style="width:20px; height:20px; margin:5px;" />

                <a style="color: white;" href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                    تسجيل الخروج
                </a>
            </li>
        </ul>
        <div class="profile">
            <img src="@userProfileImage" alt="Profile Picture" width="40" height="40" />
            <div>@userName</div>
        </div>
    </div>

    <div class="main">
        <div class="header">
            <div class="notification">
                <i class="fas fa-bell"></i>
                <span class="badge">1</span>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Popper.js -->
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/jquery-overscroll/jquery.overscroll.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/admin-lte/js/demo.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-responsive/datatables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colvis.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
